Repository cooperative-computing-lab/cctools, pull requests merged in 2018-05, with the labels that each got.

#1900 Add VC3 Builder Module
  makeflow/src/Makefile
  makeflow/src/makeflow.c
  makeflow/src/makeflow_module_vc3_builder.c
Labels: Makeflow, enhancement, in progress

#1899 Add functions to set up struct dag_node
  makeflow/src/dag_node.c
  makeflow/src/dag_node.h
  makeflow/src/parser_jx.c
  makeflow/src/parser_make.c
Labels: Makeflow, infrastructure

#1904 factory to have N workers to wait connection at any time.
  batch_job/src/work_queue_factory.c
Labels: Work Queue

#1898 Hook archive
  batch_job/src/batch_file.c
  batch_job/src/batch_file.h
  batch_job/src/batch_task.c
  batch_job/src/batch_task.h
  makeflow/src/Makefile
  makeflow/src/dag.c
  makeflow/src/dag.h
  makeflow/src/dag_file.c
  makeflow/src/dag_file.h
  makeflow/src/makeflow.c
  makeflow/src/makeflow_archive.c
  makeflow/src/makeflow_hook.c
  makeflow/src/makeflow_hook.h
  makeflow/src/makeflow_log.c
  makeflow/src/makeflow_module_archive.c
  makeflow/src/makeflow_module_resource_monitor.c
  makeflow/src/makeflow_module_shared_fs.c
  makeflow/src/makeflow_module_singularity.c
Labels: Makeflow, bug, in progress

#1907 workers_submitted was dropped from stat printing
  batch_job/src/work_queue_factory.c
Labels: Work Queue, bug
