Repository cooperative-computing-lab/cctools, pull requests merged in 2018-08, with the labels that each got.

#1958 Work queue: Consider workers connected from other sources
  batch_job/src/work_queue_factory.c
Labels: Work Queue, bug

#1858 Add resource parsing to Torque
  batch_job/src/batch_job_cluster.c
  doc/makeflow.html
  doc/man/makeflow.m4
  makeflow/example/example.categories.makeflow
  makeflow/src/makeflow.c
  makeflow/src/parser.c
Labels: Batch Job, bug

#1960 Specify cores with -c
  batch_job/src/batch_job_cluster.c
Labels: bug
