Repository cooperative-computing-lab/cctools, pull requests merged in 2018-03, with the labels that each got.

#1876 Fix Makeflow JX handling
  dttools/src/jx_parse.c
  dttools/src/jx_parse.h
  makeflow/src/dag.c
  makeflow/src/makeflow.c
  makeflow/src/parser.c
Labels: Makeflow, bug, enhancement

#1879 use LDFLAGS not CCFLAGS (!) when linking monitoring library
  resource_monitor/src/Makefile
Labels: bug, critical

#1878 Fix for python3 with anaconda
  configure
  configure.afs
  resource_monitor/src/Makefile
Labels: bug, infrastructure

#1884 Sing shell quote
  makeflow/src/makeflow_module_singularity.c
Labels: Makeflow, bug

#1870 Hook resource monitor
  .clang-format
  makeflow/src/Makefile
  makeflow/src/makeflow.c
  makeflow/src/makeflow_hook.c
  makeflow/src/makeflow_module_fail_dir.c
  makeflow/src/makeflow_module_resource_monitor.c
Labels: Makeflow, in progress, refactor

#1883 Coarse short processes
  doc/man/resource_monitor.m4
  resource_monitor/src/Makefile
  resource_monitor/src/resource_monitor.c
  resource_monitor/src/rmonitor_helper.c
  resource_monitor/src/rmonitor_helper_comm.c
  resource_monitor/src/rmonitor_helper_comm.h
Labels: Resource Monitor, enhancement
