Repository cooperative-computing-lab/cctools, pull requests merged in 2018-06, with the labels that each got.

#1902 Guard against time_application being out of step when plotting.
  work_queue/src/work_queue_graph_log
Labels: Work Queue

#1903 Cleanup of Master-Worker Capacity
  batch_job/src/work_queue_factory.c
  work_queue/src/work_queue.c
  work_queue/src/work_queue.h
Labels: Work Queue, enhancement

#1912 ensure cores_avg is computed correctly
  dttools/src/rmsummary.c
  resource_monitor/src/resource_monitor.c
Labels: Resource Monitor, bug

#1914 add on_delete event to resource_monitor file watch
  doc/man/resource_monitor.m4
  resource_monitor/src/rmonitor_file_watch.c
  resource_monitor/src/rmonitor_file_watch.h
Labels: Resource Monitor, enhancement

#1885 Jx2env
  dttools/src/Makefile
  dttools/src/jx2env.c
  dttools/test/TR_jx_env.sh
Labels: enhancement

#1909 correctly compute the first sample of stats->time_application
  work_queue/src/work_queue.c
Labels: Work Queue, bug
