Repository cooperative-computing-lab/cctools, pull requests merged in 2018-02, with the labels that each got.

#1854 Hook sandbox
  makeflow/src/Makefile
  makeflow/src/dag_file.h
  makeflow/src/dag_node.c
  makeflow/src/makeflow.c
  makeflow/src/makeflow_hook.c
  makeflow/src/makeflow_module_fail_dir.c
  makeflow/src/makeflow_module_sandbox.c
Labels: Makeflow, enhancement

#1859 Hook singularity
  makeflow/src/Makefile
  makeflow/src/dag_file.h
  makeflow/src/makeflow.c
  makeflow/src/makeflow_gc.c
  makeflow/src/makeflow_hook.c
  makeflow/src/makeflow_hook.h
  makeflow/src/makeflow_log.c
  makeflow/src/makeflow_module_sandbox.c
  makeflow/src/makeflow_module_singularity.c
  makeflow/src/makeflow_wrapper.c
  makeflow/src/makeflow_wrapper_singularity.c
  makeflow/src/makeflow_wrapper_singularity.h
  makeflow/src/makeflow_wrapper_umbrella.c
  makeflow/test/alloc/alloc.mf
Labels: Makeflow, refactor

#1861 Fix conflict between fail dir and storage alloc
  dttools/src/debug.c
  makeflow/src/makeflow_module_fail_dir.c
  makeflow/test/alloc/alloc.mf
  makeflow/test/alloc/alloc_min.expected
Labels: bug

#1846 Improved list structure
  deltadb/src/deltadb_query.c
  dttools/src/Makefile
  dttools/src/list.c
  dttools/src/list.h
  dttools/src/mergesort.c
  dttools/src/mergesort.h
  dttools/src/rmonitor_poll.c
  dttools/test/TR_list_compat.sh
  dttools/test/TR_list_core.sh
  work_queue/src/work_queue.c
Labels: enhancement, infrastructure

#1865 Hook docker
  makeflow/src/Makefile
  makeflow/src/makeflow.c
  makeflow/src/makeflow_module_docker.c
  makeflow/src/makeflow_wrapper_docker.c
  makeflow/src/makeflow_wrapper_docker.h
Labels: Makeflow, refactor

#1868 Pull Makeflow command line args from a JSON file
  dttools/src/Makefile
  dttools/src/jx.c
  dttools/src/jx.h
  dttools/src/jx_getopt.c
  dttools/src/jx_getopt.h
  makeflow/example/example.json
  makeflow/src/makeflow.c
  makeflow/src/parser_jx.c
  makeflow/test/TR_makeflow_json_argv.sh
  makeflow/test/TR_makeflow_json_argv_nested.sh
  makeflow/test/json/argv.json
  makeflow/test/json/argv0.json
  makeflow/test/json/argv1.json
  makeflow/test/json/argv2.json
  makeflow/test/json/argv3.json
  makeflow/test/json/argv4.json
Labels: Makeflow, enhancement, in progress
