Repository cooperative-computing-lab/cctools, pull requests merged in 2018-04, with the labels that each got.

#1871 Hook shared fs
  makeflow/src/Makefile
  makeflow/src/makeflow.c
  makeflow/src/makeflow_module_shared_fs.c
Labels: Makeflow, refactor

#1887 Update resource monitor module
  dttools/src/rmonitor.c
  dttools/src/rmonitor.h
  makeflow/src/makeflow.c
  makeflow/src/makeflow_module_resource_monitor.c
  work_queue/src/work_queue.c
Labels: Makeflow, Resource Monitor, enhancement

#1881 Add flag to disable flock
  parrot/src/pfs_main.cc
  parrot/src/pfs_table.cc
Labels: Parrot

#1890 Do recursive copies in Makeflow's sandbox mode
  makeflow/src/makeflow_module_sandbox.c
Labels: Makeflow, bug, in progress

#1896 Add note to api about submit/wait valid jobids gap
  batch_job/src/batch_job.h
Labels: Batch Job, bug

#1888 Nest hooks
  makeflow/src/makeflow.c
  makeflow/src/makeflow_hook.c
  makeflow/src/makeflow_hook.h
  makeflow/src/makeflow_hook_example.c
  makeflow/src/makeflow_module_docker.c
  makeflow/src/makeflow_module_fail_dir.c
  makeflow/src/makeflow_module_resource_monitor.c
  makeflow/src/makeflow_module_sandbox.c
  makeflow/src/makeflow_module_shared_fs.c
  makeflow/src/makeflow_module_singularity.c
  makeflow/src/makeflow_module_storage_allocation.c
Labels: Makeflow, enhancement
