Repository cooperative-computing-lab/cctools, pull requests merged in 2019-12, with the labels that each got.

#2224 do not copy context on eval
  dttools/src/jx.c
  dttools/src/jx.h
  dttools/src/jx_binary.c
  dttools/src/jx_eval.c
  dttools/src/jx_export.c
  dttools/src/jx_function.c
  dttools/src/jx_print.c
Labels: JX, critical

#2238 Correct work queue status of task when monitor summary not available
  work_queue/src/work_queue.c
  work_queue/src/work_queue.h
Labels: Work Queue, bug

#2223 Makeflow Log Recovery Cleanup
  makeflow/src/makeflow.c
  makeflow/src/makeflow_gc.c
  makeflow/src/makeflow_log.c
  makeflow/src/makeflow_log.h
  makeflow/test/TR_makeflow_030_gc_none.sh
  makeflow/test/TR_makeflow_030_gc_on_demand.sh
  makeflow/test/TR_makeflow_030_gc_ref_count.sh
  makeflow/test/TR_makeflow_restart.sh
  makeflow/test/syntax/category_variable_scope.makeflow
Labels: Makeflow, bug, enhancement
