Repository cooperative-computing-lab/cctools, pull requests merged in 2019-07, with the labels that each got.

#2097 Cleaned up condor_submit_makeflow
  doc/index.html
  doc/makeflow.html
  doc/man/condor_submit_makeflow.m4
  doc/manual.h
  makeflow/src/condor_submit_makeflow
Labels: Makeflow, enhancement

#1869 Umbrella Module
  makeflow/example/makeflow_umbrella/README
  makeflow/src/Makefile
  makeflow/src/makeflow.c
  makeflow/src/makeflow_module_docker.c
  makeflow/src/makeflow_module_fail_dir.c
  makeflow/src/makeflow_module_umbrella.c
  makeflow/src/makeflow_wrapper_umbrella.c
  makeflow/src/makeflow_wrapper_umbrella.h
Labels: Makeflow, in progress, refactor

#2104 Hook enforcement
  doc/man/makeflow.m4
  dttools/src/.gitignore
  dttools/src/Makefile
  dttools/src/env_replace.c
  dttools/src/envtools.c
  dttools/src/envtools.h
  makeflow/src/Makefile
  makeflow/src/makeflow.c
  makeflow/src/makeflow_module_enforcement.c
  makeflow/src/makeflow_wrapper_enforcement.c
  makeflow/src/makeflow_wrapper_enforcement.h
Labels: Makeflow
