Repository cooperative-computing-lab/cctools, pull requests merged in 2020-05, with the labels that each got.

#2295 WQ: Increase the minimum file transfer time to 60 seconds.
  work_queue/src/work_queue.c
Labels: Work Queue, enhancement

#2298 fix type error (bytes) when reading gnuplot version
  work_queue/src/work_queue_graph_log
Labels: Work Queue, bug

#2302 fix specify_enviroment_variable typo in wq api
  batch_job/src/batch_job_work_queue.c
  work_queue/src/bindings/perl/Work_Queue/Task.pm
  work_queue/src/bindings/python3/work_queue.binding.py
  work_queue/src/work_queue.c
  work_queue/src/work_queue.h
  work_queue/src/work_queue_json.c
  work_queue/src/work_queue_process.c
  work_queue/src/work_queue_worker.c
Labels: Work Queue

#2303 Forward declare struct work_queue.
  work_queue/src/work_queue.h
Labels: Work Queue

#2304 Remove task struct from file creation and naming
  work_queue/src/work_queue.c
Labels: Work Queue
