Repository cooperative-computing-lab/cctools, pull requests merged in 2020-09, with the labels that each got.

#2377 wq third put/get fix
  work_queue/src/bindings/perl/Work_Queue/Task.pm
  work_queue/src/bindings/python3/work_queue.binding.py
  work_queue/src/work_queue.c
  work_queue/src/work_queue.h
  work_queue/src/work_queue_worker.c
Labels: Work Queue

#2376 Monitor no enf
  doc/man/md/resource_monitor.md
  resource_monitor/src/resource_monitor.c
  work_queue/src/work_queue.c
Labels: Resource Monitor, Work Queue, enhancement

#2407 Stream file descriptors via MQ
  dttools/src/buffer.c
  dttools/src/buffer.h
  dttools/src/mq.c
  dttools/src/mq.h
  dttools/src/mq_poll_test.c
  dttools/src/mq_store_test.c
  dttools/src/mq_wait_test.c
  dttools/test/TR_mq_store.sh
Labels: enhancement, infrastructure
