Repository cooperative-computing-lab/cctools, pull requests merged in 2021-12, with the labels that each got.

#2749 wq: work_queue_wait_for_tag
  work_queue/src/bindings/python3/work_queue.binding.py
  work_queue/src/work_queue.c
  work_queue/src/work_queue.h
  work_queue/src/work_queue_internal.h
  work_queue/src/work_queue_worker.c
  work_queue/test/TR_work_queue_tag.sh
  work_queue/test/wq_test_tag.py
Labels: enhancement, Work Queue

#2768 DeltaDB: Update Docs
  deltadb/src/deltadb_query_main.c
  doc/man/m4/deltadb_query.m4
  doc/man/md/deltadb_query.md
Labels: enhancement, documentation, DeltaDB

#2769 Catalog: Add tabular output option.
  doc/man/m4/catalog_query.m4
  doc/man/md/catalog_query.md
  dttools/src/catalog_query_tool.c
Labels: enhancement, Catalog

#2776 WQ: Fix backwards compatibility for Python 2.7
  work_queue/src/bindings/python3/work_queue.binding.py
Labels: bug, infrastructure, Work Queue

#2763 Catalog: Add HTTPS/SSL query capability. (WIP)
  batch_job/src/batch_job_amazon.c
  batch_job/src/work_queue_factory.c
  chirp/src/chirp_filesystem.c
  chirp/src/chirp_server.c
  deltadb/src/Makefile
  deltadb/src/catalog_export.c
  deltadb/src/catalog_export.h
  deltadb/src/catalog_server.c
  deltadb/src/python-old/test/query1.sh
  deltadb/src/python-old/test/query2.sh
  deltadb/src/python-old/test/query3.sh
  deltadb/test/TR_catalog_server.sh
  deltadb/test/TR_catalog_server_ssl.sh
  dttools/src/Makefile
  dttools/src/auth.c
  dttools/src/auth_globus.c
  dttools/src/auth_test.c
  dttools/src/auth_ticket.c
  dttools/src/auth_unix.c
  dttools/src/jx.h
  dttools/src/jx_export.c
  dttools/src/jx_export.h
  dttools/src/jx_print.c
  dttools/src/jx_print.h
  dttools/src/link.c
  dttools/src/link.h
  dttools/src/link_auth.c
  work_queue/src/work_queue_resources.c
  work_queue/src/work_queue_server.c
  work_queue/src/work_queue_status.c
  work_queue/src/work_queue_watcher.c
  work_queue/src/work_queue_worker.c
Labels: enhancement, Catalog
