Repository cooperative-computing-lab/cctools, pull requests merged in 2022-12, with the labels that each got.

#3067 Vine: Remove unpack flags in favor of mini-tasks.
  taskvine/src/bindings/python3/taskvine.binding.py
  taskvine/src/examples/vine_example_blast.c
  taskvine/src/examples/vine_example_blast.py
  taskvine/src/examples/vine_example_minitask.c
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_file.c
  taskvine/src/manager/vine_manager_put.c
  taskvine/src/worker/vine_cache.c
  taskvine/test/vine_test.py
Labels: refactor, TaskVine

#3071 Vine: Unstarch File Wrapper
  makeflow/src/starch
  taskvine/src/bindings/python3/taskvine.binding.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_file.c
Labels: enhancement, TaskVine

#3076 Rename VINE_WAITFORTASK to VINE_WAIT_FOREVER
  taskvine/src/bindings/python3/taskvine.binding.py
  taskvine/src/examples/vine_example_mosaic.c
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/taskvine_json.h
  taskvine/src/manager/vine_manager.c
Labels: refactor, TaskVine

#3077 Vine/WQ: Write to transactions log with a single fprintf/fflush.
  taskvine/src/manager/vine_txn_log.c
  work_queue/src/work_queue.c
Labels: bug, Work Queue, TaskVine

#3055 Vine: starting coprocesses via tasks
  taskvine/src/bindings/python3/taskvine.binding.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_task.c
  taskvine/src/worker/vine_coprocess.c
  taskvine/src/worker/vine_coprocess.h
  taskvine/src/worker/vine_process.c
  taskvine/src/worker/vine_process.h
  taskvine/src/worker/vine_worker.c
Labels: enhancement, TaskVine
