Repository cooperative-computing-lab/cctools, pull requests merged in 2022-08, with the labels that each got.

#2942 Doc: Quote example file before including it.
  doc/manuals/work_queue/index.md
Labels: bug, documentation

#2947 wq resources revamp
  dttools/src/category.c
  work_queue/src/bindings/python3/Makefile
  work_queue/src/bindings/python3/StatusDisplay.py
  work_queue/src/bindings/python3/work_queue.binding.py
  work_queue/src/work_queue.c
  work_queue/src/work_queue.h
  work_queue/src/work_queue.i
Labels: enhancement, Work Queue

#2948 DataSwarm Pruning
  dataswarm/src/bindings/python3/dataswarm.binding.py
  dataswarm/src/bindings/python3/dataswarm.i
  dataswarm/src/bindings/python3/ds_example.py
  dataswarm/src/bindings/python3/ds_futures.py
  dataswarm/src/manager/Makefile
  dataswarm/src/manager/dataswarm.h
  dataswarm/src/manager/dataswarm.i
  dataswarm/src/manager/ds_catalog.c
  dataswarm/src/manager/ds_catalog.h
  dataswarm/src/manager/ds_file.c
  dataswarm/src/manager/ds_file.h
  dataswarm/src/manager/ds_internal.h
  dataswarm/src/manager/ds_json.c
  dataswarm/src/manager/ds_manager.c
  dataswarm/src/manager/ds_manager.h
  dataswarm/src/manager/ds_protocol.h
  dataswarm/src/manager/ds_remote_file_info.c
  dataswarm/src/manager/ds_remote_file_info.h
  dataswarm/src/manager/ds_resources.c
  dataswarm/src/manager/ds_task.c
  dataswarm/src/manager/ds_task.h
  dataswarm/src/scripts/Makefile
  dataswarm/src/scripts/ds_submit_condor_workers
  dataswarm/src/scripts/ds_submit_pbs_workers
  dataswarm/src/scripts/ds_submit_sge_workers_common
  dataswarm/src/scripts/ds_submit_slurm_workers
  dataswarm/src/scripts/ds_submit_torque_workers
  dataswarm/src/tools/ds_example.c
  dataswarm/src/tools/ds_priority_test.c
  dataswarm/src/tools/ds_status.c
  dataswarm/src/worker/ds_cache.c
  dataswarm/src/worker/ds_coprocess.c
  dataswarm/src/worker/ds_gpus.c
  dataswarm/src/worker/ds_process.c
  dataswarm/src/worker/ds_process.h
  dataswarm/src/worker/ds_sandbox.c
  dataswarm/src/worker/ds_watcher.c
  dataswarm/src/worker/ds_worker.c
  dataswarm/test/ds_test.py
  dttools/src/debug.c
  dttools/src/debug.h
Labels: DataSwarm
