Repository cooperative-computing-lab/cctools, pull requests merged in 2022-02, with the labels that each got.

#2808 Infra: Fix Parrot Tests for Spack
  parrot/test/TR_parrot_execve.sh
Labels: enhancement, infrastructure

#2774 WQ PythonTask Abstractions Docs
  doc/manuals/work_queue/examples/wq_python_abstractions.py
  doc/manuals/work_queue/index.md
Labels: documentation, Work Queue

#2810 Docs: Update Installation
  doc/manuals/install/from-source.md
  doc/manuals/install/index.md
Labels: documentation

#2814 Chirp: Modified chirp_client_getdir to consider >=0 a success.
  chirp/src/chirp_client.c
Labels: bug, enhancement, Chirp

#2812 WQ Factory: Fix shared scratch space
  work_queue/src/bindings/python3/work_queue.binding.py
Labels: bug, Work Queue

#2817 Chirp: Escape Names for HTCondor
  chirp/src/chirp_client.c
  dttools/src/stringtools.c
  dttools/src/stringtools.h
Labels: bug, Chirp
