Repository cooperative-computing-lab/cctools, pull requests merged in 2023-06, with the labels that each got.

#3367 Doc: Fix Function Macros
  chirp/src/bindings/python3/ndcctools/__init__.py
  chirp/src/bindings/python3/ndcctools/chirp.py
  doc/cctools.doxygen
  doc/cctools.doxygen.config
  dttools/src/catalog_query.h
  dttools/src/debug.h
  dttools/src/list.h
  dttools/src/md5.h
  dttools/src/mq.h
  dttools/src/sha1.h
  resource_monitor/src/bindings/python3/ndcctools/__init__.py
  resource_monitor/src/bindings/python3/ndcctools/resource_monitor.py
  taskvine/src/bindings/python3/ndcctools/__init__.py
  taskvine/src/bindings/python3/ndcctools/taskvine/__init__.py
  work_queue/src/bindings/python3/ndcctools/__init__.py
  work_queue/src/bindings/python3/ndcctools/work_queue.py
  work_queue/src/work_queue.h
Labels: bug, documentation

#3369 Makeflow: Add support for TaskVine as executor.
  batch_job/src/Makefile
  batch_job/src/batch_job.c
  batch_job/src/batch_job.h
  batch_job/src/batch_job_internal.h
  batch_job/src/batch_job_vine.c
  batch_job/src/batch_job_work_queue.c
  doc/man/m4/makeflow.m4
  doc/man/md/makeflow.md
  doc/manuals/makeflow/index.md
  makeflow/src/Makefile
  makeflow/src/makeflow.c
  makeflow/test/TR_makeflow_023_export_vine.sh
  makeflow/test/TR_makeflow_remote_renaming_vine.sh
  makeflow/test/TR_makeflow_remote_renaming_wq.sh
  makeflow/test/makeflow_dirs_test_common.sh
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_manager_get.c
  taskvine/src/worker/vine_transfer.c
  taskvine/src/worker/vine_worker.c
  work_queue/src/work_queue.c
  work_queue/src/work_queue.h
  work_queue/src/work_queue_worker.c
Labels: enhancement, documentation, Makeflow, Batch Job, TaskVine

#3376 Temporarily disable auto modes tests, which seem to fail in CI.
  taskvine/test/TR_vine_auto_modes.sh
  work_queue/test/TR_work_queue_auto_modes.sh
Labels: infrastructure

#3383 WQ: revert last_task
  work_queue/src/work_queue.c
Labels: bug, Work Queue

#3385 Vine: Fetch File on Demand (WIP)
  doc/manuals/taskvine/index.md
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_file.c
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_manager_get.c
  taskvine/src/manager/vine_manager_get.h
  taskvine/src/manager/vine_manager_put.c
  taskvine/src/manager/vine_task.c
  taskvine/test/vine_test.py
Labels: enhancement, TaskVine
