Repository cooperative-computing-lab/cctools, pull requests merged in 2023-08, with the labels that each got.

#3435 Vine: Fix worker crash when using serverless.
  taskvine/src/worker/vine_process.c
  taskvine/src/worker/vine_worker.c
Labels: bug, TaskVine, Parsl

#3437 Vine: Fix two core bugs.
  parrot/test/TR_parrot_mmap.sh
  parrot/test/TR_parrot_thread_fd.sh
  taskvine/src/manager/vine_manager.c
  taskvine/src/worker/vine_worker.c
Labels: bug, TaskVine

#3387 vine: mainloop improvements
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_perf_log.c
  taskvine/src/manager/vine_perf_log.h
  taskvine/src/tools/vine_profile_dispatch
Labels: enhancement, TaskVine

#3457 Vine: Fix bug in process type
  taskvine/src/worker/vine_process.c
Labels: bug, critical, TaskVine

#3469 Vine: Fix Handling of Failed Library Tasks
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3478 Vine: Serverless: Match on library name, not feature.
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_schedule.c
  taskvine/src/manager/vine_task.c
  taskvine/src/worker/vine_worker.c
Labels: enhancement, TaskVine
