Repository cooperative-computing-lab/cctools, pull requests merged in 2023-09, with the labels that each got.

#3485 vine, wq: ramp down mode
  doc/manuals/taskvine/index.md
  doc/manuals/work_queue/index.md
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_schedule.c
  taskvine/src/manager/vine_schedule.h
  work_queue/src/work_queue.c
Labels: enhancement, Work Queue, TaskVine

#3483 Vine: Cleanup resource accounting
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager_summarize.c
  taskvine/src/manager/vine_protocol.h
  taskvine/src/manager/vine_resources.c
  taskvine/src/manager/vine_resources.h
  taskvine/src/worker/vine_gpus.c
  taskvine/src/worker/vine_worker.c
Labels: cleanup, TaskVine

#3486 Vine: Function Call Tasks Consume No Resources
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_task.c
  taskvine/test/vine_python_serverless.py
Labels: enhancement, TaskVine

#3488 return file buffer contents as bytes object
  taskvine/src/bindings/python3/ndcctools/taskvine/file.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/bindings/python3/taskvine.i
Labels: bug, enhancement, TaskVine

#3493 vine: correctly change the state on exhaust resubmit
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3495 Build: Run Correctly in Conda Environment
  .github/workflows/integration.yml
  packaging/build-conda/build.sh
  packaging/build-conda/configure.sh
  packaging/build-conda/install.sh
  packaging/build-conda/setup.sh
  packaging/build-conda/test.sh
  packaging/scripts/configure-from-image
Labels: bug, build

#3487 changed conda to use libmamba as its solver
  doc/manuals/install/index.md
  packaging/build-conda/setup.sh
Labels: enhancement, documentation, build

#3494 Vine: Simplify Cancel
  doc/manuals/taskvine/index.md
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_task.c
  taskvine/src/manager/vine_task.h
  taskvine/src/manager/vine_txn_log.c
  taskvine/test/TR_vine_python_cancel.sh
  taskvine/test/vine_python_cancel.py
Labels: enhancement, TaskVine

#3502 Build: Skip Python Tests on MacOS-11 (Python2)
  taskvine/test/TR_vine_allocations.sh
  taskvine/test/TR_vine_python.sh
  taskvine/test/TR_vine_python_serverless.sh
  taskvine/test/TR_vine_python_ssl.sh
  taskvine/test/TR_vine_python_tag.sh
Labels: enhancement, build

#3490 Vine: Fixing Library Task
  poncho/src/poncho/library_network_code.py
  poncho/src/poncho/package_serverize.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/bindings/python3/taskvine.i
  taskvine/src/worker/vine_process.c
  taskvine/src/worker/vine_process.h
  taskvine/src/worker/vine_worker.c
  taskvine/test/TR_vine_python_cancel.sh
Labels: bug, TaskVine

#3503 Vine: Add Library Check
  taskvine/src/worker/vine_worker.c
Labels: bug, TaskVine

#3501 Vine: Make conservative disk estimates when the amount of disk is not given to worker
  taskvine/src/worker/vine_worker.c
Labels: bug, TaskVine

#3506 Vine: measure whole directory in stageout
  taskvine/src/worker/vine_sandbox.c
Labels: bug, TaskVine

#3507 Sync result msgs
  taskvine/src/manager/vine_manager.c
  taskvine/src/worker/vine_worker.c
Labels: bug, TaskVine

#3511 vine: check transfer addr before using peer
  taskvine/src/manager/vine_file_replica_table.c
Labels: bug, TaskVine

#3513 vine: don't delete recovery tasks
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3514 Vine: Fix Input Missing Condition
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3509 delete uncached files on manager disconnect
  taskvine/src/worker/vine_cache.c
Labels: bug, TaskVine

#3492 Vine: Rewrite Performance Analyzing Function
  taskvine/src/tools/vine_profile_dispatch
Labels: bug, TaskVine

#3515 Vine: Fix disk accounting
  taskvine/src/worker/vine_worker.c
Labels: bug, TaskVine

#3517 vine: tune parameter immediate-recovery
  doc/manuals/taskvine/index.md
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
Labels: enhancement, TaskVine

#3519 environment.yml
  environment.yml
Labels: infrastructure, build

#3523 vine: vine_status bugfix
  taskvine/src/tools/vine_status.c
Labels: bug, TaskVine

#3521 vine: do not consider more than ready tasks
  taskvine/src/manager/vine_manager.c
Labels: enhancement, TaskVine

#3522 vine: use - and not _ uniformly for tune options
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine
