Repository cooperative-computing-lab/cctools, pull requests merged in 2023-10, with the labels that each got.

#3527 Vine: Add symlink mount option.
  .github/workflows/integration.yml
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/manager/taskvine.h
  taskvine/src/worker/vine_sandbox.c
  taskvine/src/worker/vine_worker.c
  taskvine/src/worker/vine_worker.h
  taskvine/test/vine_python.py
Labels: enhancement, TaskVine

#3528 Vine: fix vine_plot_txn_log
  taskvine/src/tools/vine_plot_txn_log
Labels: bug, TaskVine

#3529 Build: Remove large objects from source.
  devel/apps/wq_sort/Makefile
  devel/apps/wq_sort/make_sample_data.c
  devel/apps/wq_sort/sample.txt
  devel/apps/wq_visualization/README
  devel/apps/wq_visualization/TODO.txt
  devel/apps/wq_visualization/WQ_logs/bwa_large.log.bz2
  devel/apps/wq_visualization/WQ_logs/converted_bwa_large.log.bz2
  devel/apps/wq_visualization/WQ_logs/good_wc.log.bz2
  devel/apps/wq_visualization/cour.ttf
  devel/apps/wq_visualization/dev/NewLogFormatVisualize.py
  devel/apps/wq_visualization/dev/OldLogFormatVisualize.py
  devel/apps/wq_visualization/example/ExampleInstructions.txt
  devel/apps/wq_visualization/example/dummy_file1.txt
  devel/apps/wq_visualization/example/dummy_file2.txt
  devel/apps/wq_visualization/example/dummy_file3.txt
  devel/apps/wq_visualization/example/work_queue_example.py
  devel/apps/wq_visualization/log_converter.py
  devel/apps/wq_visualization/visualizer.py
Labels: build, cleanup

#3526 Update index.md and environment.yml
  doc/manuals/install/index.md
  environment.yml
Labels: build

#3537 Vine: Improve Serverless
  doc/manuals/taskvine/index.md
  poncho/src/poncho/library_network_code.py
  taskvine/src/worker/vine_process.c
  taskvine/src/worker/vine_worker.c
Labels: bug, TaskVine

#3542 WorkQueue: Fix Coprocess Change Path
  poncho/src/poncho/wq_network_code.py
Labels: bug, Work Queue

#3544 Doc: Fix Links
  doc/manuals/about.md
  doc/manuals/awe/index.md
  doc/manuals/catalog/index.md
  doc/manuals/chirp/index.md
  doc/manuals/confuga/index.md
  doc/manuals/index.md
  doc/manuals/install/from-source.md
  doc/manuals/jx-workflow/index.md
  doc/manuals/jx-workflow/jx-quick.md
  doc/manuals/jx-workflow/jx-tutorial.md
  doc/manuals/jx-workflow/jx.md
  doc/manuals/jx/index.md
  doc/manuals/makeflow/index.md
  doc/manuals/old_projects/sand.md
  doc/manuals/old_projects/wavefront.md
  doc/manuals/parrot/index.md
  doc/manuals/poncho/index.md
  doc/manuals/prune/index.md
  doc/manuals/resource_monitor/index.md
  doc/manuals/taskvine/index.md
  doc/manuals/watchdog/index.md
  doc/manuals/work_queue/index.md
  mkdocs.yml
Labels: infrastructure, documentation

#3551 Vine: dask-colors option
  taskvine/src/tools/vine_plot_txn_log
Labels: enhancement, TaskVine

#3552 Doc: Update Environment and Organize
  .readthedocs.yaml
  doc/Makefile
  doc/README.md
  doc/api/cctools.doxygen
  doc/api/cctools.doxygen.config
  doc/doc.makeflowlog.txt
  doc/mkdocs.requirements.txt
  doc/mkdocs.yml
  doc/requirements.txt
  environment.yml
  packaging/build-conda/setup.sh
Labels: documentation, cleanup

#3553 Vine: Process Cleanup
  taskvine/src/worker/vine_process.c
  taskvine/src/worker/vine_process.h
  taskvine/src/worker/vine_worker.c
  taskvine/src/worker/vine_worker.h
  taskvine/test/TR_vine_valgrind.sh
  taskvine/test/vine_common.sh
Labels: cleanup, TaskVine

#3555 vine: conditional worker timeout
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_file_replica_table.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_protocol.h
  taskvine/src/worker/vine_worker.c
Labels: bug, TaskVine
