Repository cooperative-computing-lab/cctools, pull requests merged in 2023-02, with the labels that each got.

#3104 send CACHE_UPDATE after worker reports as ready
  taskvine/src/worker/vine_worker.c
Labels: TaskVine

#3098 Vine: concurrent worker transfers
  taskvine/src/manager/vine_current_transfers.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/worker/vine_transfer_server.c
  taskvine/src/worker/vine_transfer_server.h
Labels: TaskVine

#3107 Vine Plotting Tool vine_plot_txn_log
  taskvine/src/tools/vine_plot_txn_log
Labels: TaskVine

#3092 Vine: Serverless running on condor
  poncho/src/poncho/package_serverize.py
  taskvine/src/bindings/python3/taskvine.binding.py
  taskvine/src/worker/vine_coprocess.c
  taskvine/src/worker/vine_coprocess.h
  taskvine/src/worker/vine_process.c
  taskvine/src/worker/vine_worker.c
Labels: TaskVine

#3114 Change catalog update protocol to tcp by default.
  doc/man/m4/catalog_server.m4
  doc/man/m4/catalog_update.m4
  doc/man/md/catalog_server.md
  doc/man/md/catalog_update.md
  doc/manuals/catalog/index.md
  dttools/src/catalog_query.c
Labels: enhancement, Work Queue, TaskVine

#3116 Vine: Separate File and Mount Objects
  taskvine/src/bindings/python3/taskvine.binding.py
  taskvine/src/examples/vine_example_blast.c
  taskvine/src/examples/vine_example_mosaic.c
  taskvine/src/examples/vine_example_mosaic.py
  taskvine/src/manager/Makefile
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_file.c
  taskvine/src/manager/vine_file.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager_get.c
  taskvine/src/manager/vine_manager_get.h
  taskvine/src/manager/vine_manager_put.c
  taskvine/src/manager/vine_mount.c
  taskvine/src/manager/vine_mount.h
  taskvine/src/manager/vine_schedule.c
  taskvine/src/manager/vine_task.c
  taskvine/src/manager/vine_task.h
  taskvine/src/manager/vine_txn_log.c
  taskvine/src/manager/vine_txn_log.h
  taskvine/src/worker/vine_cache.c
  taskvine/src/worker/vine_cache.h
  taskvine/src/worker/vine_process.c
  taskvine/src/worker/vine_sandbox.c
  taskvine/src/worker/vine_watcher.c
  taskvine/src/worker/vine_worker.c
Labels: enhancement, TaskVine

#3134 Vine: Schedule to Files by Default
  taskvine/src/examples/vine_example_blast.c
  taskvine/src/examples/vine_example_blast.py
  taskvine/src/examples/vine_example_gutenberg.c
  taskvine/src/examples/vine_example_gutenberg.py
  taskvine/src/examples/vine_example_map.py
  taskvine/src/examples/vine_example_minitask.c
  taskvine/src/examples/vine_example_peer_transfer.c
  taskvine/src/examples/vine_example_tree_reduce.py
  taskvine/src/examples/vine_example_unponcho_task.c
  taskvine/src/examples/vine_example_unponcho_worker.c
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
Labels: TaskVine

#3028 Poncho: Use Mamba for Resolution
  poncho/src/poncho/package_create.py
  poncho/src/poncho_package_create
Labels: enhancement, poncho

#3149 Vine: Simplified Output Buffer API
  taskvine/src/bindings/python3/taskvine.binding.py
  taskvine/src/bindings/python3/taskvine.i
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_file.c
  taskvine/src/manager/vine_task.c
  taskvine/test/vine_test.py
Labels: enhancement, TaskVine

#3150 Vine: Added logging and graphing capabilities for duties
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_txn_log.c
  taskvine/src/manager/vine_txn_log.h
  taskvine/src/tools/vine_plot_txn_log
  taskvine/src/worker/vine_worker.c
Labels: TaskVine
