Repository cooperative-computing-lab/cctools, pull requests merged in 2023-11, with the labels that each got.

#3562 Vine: add cpu time to txn stats
  taskvine/src/tools/vine_plot_txn_log
Labels: enhancement, TaskVine

#3565 Vine: Make Task Features More Visible
  batch_job/src/vine_factory.c
  batch_job/src/work_queue_factory.c
  doc/manuals/taskvine/index.md
  taskvine/src/worker/vine_worker.c
Labels: enhancement, documentation, Work Queue, TaskVine

#3574 Vine: Finalize Task When Creating Mini-Task
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
Labels: bug, TaskVine

#3579 symlink: do not append cwd path if arg is absolute
  dttools/src/file_link_recursive.c
Labels: bug, infrastructure

#3567 vine: serverless import issue
  doc/manuals/taskvine/index.md
  dttools/test/test_runner_common.sh
  poncho/src/poncho/package_serverize.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/examples/vine_example_function_call.py
  taskvine/src/examples/vine_example_future_matrix.py
  taskvine/test/vine_python_serverless.py
Labels: enhancement, TaskVine

#3580 vine: correctly account for retries in dask vine
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: TaskVine
