Repository cooperative-computing-lab/cctools, pull requests merged in 2023-12, with the labels that each got.

#3584 null check resource
  work_queue/src/work_queue_coprocess.c
Labels: bug, Work Queue

#3560 TaskVine: Fix library deployment method
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_resources.c
  taskvine/src/manager/vine_resources.h
  taskvine/src/manager/vine_schedule.c
  taskvine/src/manager/vine_task.h
Labels: bug, TaskVine

#3582 Dask small fixes
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_dag.py
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
Labels: enhancement, TaskVine

#3586 daskvine: add argument to set env variables
  doc/manuals/taskvine/index.md
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: enhancement, TaskVine

#3585 TaskVine: Fix problem where function calls print to stdout of the vine_worker process
  poncho/src/poncho/library_network_code.py
  taskvine/src/manager/vine_protocol.h
  taskvine/src/worker/vine_process.c
Labels: bug, TaskVine

#3589 Daskvine call
  doc/manuals/taskvine/index.md
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: enhancement, TaskVine

#3591 TaskVine: Fix bug in function call scheduling
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_schedule.c
Labels: bug, critical, TaskVine

#3564 Vine: temp file replication
  doc/manuals/taskvine/index.md
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_current_transfers.c
  taskvine/src/manager/vine_current_transfers.h
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_file_replica_table.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_manager_put.c
  taskvine/src/manager/vine_manager_put.h
  taskvine/src/worker/vine_cache.c
  taskvine/src/worker/vine_cache.h
  taskvine/src/worker/vine_worker.c
Labels: enhancement, TaskVine

#3590 fix poncho package sources
  poncho/src/poncho/package_analyze.py
  poncho/src/poncho/package_create.py
  poncho/src/poncho/package_serverize.py
Labels: Poncho, cleanup

#3594 MacOS-13 Integration
  .github/workflows/integration.yml
  deltadb/test/TR_catalog_server.sh
  deltadb/test/TR_catalog_server_ssl.sh
  dttools/src/catalog_update.c
  dttools/src/domain_name_cache.c
  dttools/test/test_runner_common.sh
  makeflow/test/TR_makeflow_001_dirs_01.sh
  makeflow/test/makeflow_dirs_test_common.sh
  packaging/build-conda/build.sh
  packaging/build-conda/configure.sh
  packaging/build-conda/install.sh
  packaging/build-conda/setup.sh
  packaging/build-conda/test.sh
  taskvine/src/manager/vine_manager.c
  work_queue/src/work_queue.c
Labels: infrastructure

#3588 adding nopen with python method
  taskvine/nopen/Makefile
  taskvine/nopen/README.md
  taskvine/nopen/lib-nopen.c
  taskvine/nopen/lib-nopen.h
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
Labels: enhancement, TaskVine

#3596 Relocate nopen to devel.
  devel/nopen/Makefile
  devel/nopen/README.md
  devel/nopen/lib-nopen.c
  devel/nopen/lib-nopen.h
Labels: cleanup

#3597 Build Speedups
  .github/workflows/integration.yml
  packaging/build-conda/setup.sh
  packaging/build-docker/.gitignore
  packaging/build-docker/build.sh
  packaging/build-docker/configure-from-image
  packaging/build-docker/generate-images
Labels: infrastructure
