Repository cooperative-computing-lab/cctools, pull requests merged in 2024-10, with the labels that each got.

#3954 wq: install py example in correctd directory
  work_queue/src/bindings/python3/Makefile
Labels: bug, documentation, Work Queue

#3955 Poncho pinned
  poncho/src/poncho/package_create.py
  poncho/src/poncho_package_create
Labels: enhancement, Poncho

#3949 Hungry feature
  hi.txt
  taskvine/src/manager/vine_manager.c
Labels: enhancement, TaskVine

#3946 update doc to include task_mode for DaskVine
  doc/manuals/taskvine/index.md
Labels: documentation, TaskVine

#3960 Chirp: Fix FUSE configure flags
  configure
Labels: bug, Chirp

#3943 vine: dask arg worker_transfers
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: bug, TaskVine

#3961 vine: limit worker transfer processes
  taskvine/src/worker/vine_cache.c
  taskvine/src/worker/vine_cache.h
  taskvine/src/worker/vine_worker.c
  taskvine/src/worker/vine_worker_options.c
  taskvine/src/worker/vine_worker_options.h
Labels: TaskVine
