Repository cooperative-computing-lab/cctools, pull requests merged in 2024-01, with the labels that each got.

#3598 Vine: Memory Leak Supplement
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
Labels: bug, TaskVine

#3600 WQ RemoteTask Cleanup
  poncho/src/poncho/wq_network_code.py
  work_queue/src/work_queue_coprocess.c
  work_queue/src/work_queue_coprocess.h
  work_queue/src/work_queue_process.c
  work_queue/src/work_queue_worker.c
  work_queue/test/TR_work_queue_remotetask.sh
  work_queue/test/serverless_function.py
  work_queue/test/wq_python_task.py
  work_queue/test/wq_remote_task.py
Labels: bug, enhancement, Work Queue

#3602 vine: LIBRARY parsing issue with vine_plot_txn_log
  taskvine/src/tools/vine_plot_txn_log
Labels: bug, TaskVine

#3604 dask+vine: set custom name to file outputs
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
Labels: TaskVine

#3609 Lint consolidation
  configure
  poncho/src/Makefile
  poncho/src/poncho/library_network_code.py
  poncho/src/poncho/setup.py
  poncho/src/poncho/wq_network_code.py
  resource_monitor/src/bindings/Makefile
  resource_monitor/src/bindings/python3/example_client_with_decorator.py
  resource_monitor/src/bindings/python3/example_deep_fork.py
  resource_monitor/src/bindings/python3/example_simple_limit.py
  resource_monitor/src/bindings/python3/ndcctools/__init__.py
  resource_monitor/src/bindings/python3/ndcctools/resource_monitor.py
  taskvine/src/bindings/python3/Makefile
  taskvine/src/bindings/python3/ndcctools/taskvine/__init__.py
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/bindings/python3/ndcctools/taskvine/utils.py
Labels: python

#3605 dask+vine: Do not immediately serialize waiting calls.
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: TaskVine

#3610 Vine small fixes
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: TaskVine

#3611 wq: dask+wq ignore vine options to facilitate testing
  work_queue/src/bindings/python3/ndcctools/work_queue_dask.py
Labels: Work Queue

#3613 vine: file remove before delete
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3614 vine: when copying mounts, do not clone input file twice.
  taskvine/src/manager/vine_mount.c
Labels: bug, TaskVine

#3616 Vine: Fix Up Manual with Plotting Tools
  doc/manuals/taskvine/images/plot-perf-montage.png
  doc/manuals/taskvine/images/plot-taskgraph.png
  doc/manuals/taskvine/images/plot-txn-workers.png
  doc/manuals/taskvine/index.md
  doc/manuals/taskvine/log-file-formats.md
  taskvine/src/tools/vine_plot_txn_log
Labels: documentation, TaskVine

#3617 vine: write custom entries to debug and transactions logs
  doc/manuals/taskvine/index.md
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_txn_log.c
  taskvine/src/manager/vine_txn_log.h
  taskvine/src/tools/vine_plot_txn_log
Labels: enhancement, TaskVine

#3623 Vine: Report UUID and Catalog Properties
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
Labels: enhancement, TaskVine

#3622 Vine: Truncate Watched Files on Submit
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_task.c
  taskvine/src/manager/vine_task.h
Labels: bug, TaskVine

#3625 Vine: set framework as dask when using DaskVine
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: enhancement, TaskVine

#3627 vine: correctly gc temp files on refcount
  taskvine/src/manager/vine_file.c
Labels: bug, TaskVine

#3628 vine: free file resources if manager is gc'ed.
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3629 Poncho: have poncho fail if mkdir fails
  poncho/src/poncho_package_run
Labels: enhancement, Poncho

#3630 Factory: Handling of Scratch Dir for HTCondor
  batch_job/src/vine_factory.c
  batch_job/src/work_queue_factory.c
Labels: bug, Work Queue, TaskVine
