Repository cooperative-computing-lab/cctools, pull requests merged in 2024-11, with the labels that each got.

#3970 vine: send protocol version in manager_lean_to_jx
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3900 Vine: add library context implementation
  Makefile
  doc/.gitignore
  doc/manuals/taskvine/index.md
  dttools/src/.gitignore
  poncho/src/poncho/library_network_code.py
  poncho/src/poncho/package_analyze.py
  poncho/src/poncho/package_serverize.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/bindings/python3/ndcctools/taskvine/utils.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_task.c
  taskvine/src/manager/vine_task.h
  taskvine/test/TR_vine_python_serverless.sh
  taskvine/test/vine_python_serverless.py
  work_queue/src/uge_submit_workers
Labels: enhancement, documentation, Poncho, TaskVine

#3975 vine: assume file created on declaration until specified as output
  taskvine/src/manager/vine_file.c
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_task.c
Labels: bug, TaskVine

#3919 vine: priority queue implementation
  dttools/src/Makefile
  dttools/src/priority_queue.c
  dttools/src/priority_queue.h
  dttools/src/priority_queue_test.c
  dttools/test/TR_priority_queue.sh
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_schedule.c
  taskvine/src/manager/vine_task.c
Labels: enhancement, TaskVine

#3980 Chirp-FUSE: Single Server Mode
  chirp/src/chirp_fuse.c
  doc/man/m4/chirp_fuse.m4
  doc/man/md/chirp_fuse.md
Labels: enhancement, Chirp

#3987 Increment the priority for tasks exhausting resources
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3985 Chirp ticket time limit
  chirp/src/chirp_client.c
  chirp/src/chirp_server.c
  chirp/src/chirp_tool.c
  doc/man/m4/chirp_server.m4
  doc/man/md/chirp_server.md
Labels: enhancement, Chirp

#3981 Vine: Add IO test for function calls
  taskvine/test/TR_vine_python_serverless.sh
  taskvine/test/vine_python_serverless.py
Labels: enhancement, TaskVine

#3974 Add Robust Error Checking to Library and Worker's Communication Patterns
  doc/manuals/taskvine/index.md
  poncho/src/poncho/library_network_code.py
  taskvine/src/manager/vine_manager_put.c
  taskvine/src/manager/vine_protocol.h
  taskvine/src/manager/vine_task.c
  taskvine/src/manager/vine_task.h
  taskvine/src/worker/vine_worker.c
Labels: enhancement, TaskVine
