Repository cooperative-computing-lab/cctools, pull requests merged in 2024-07, with the labels that each got.

#3879 Better error handling for GPU detection.
  dttools/src/gpu_info.c
Labels: bug, Work Queue, Makeflow, TaskVine

#3880 vine: prune stale files in daskvine
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_dag.py
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
Labels: TaskVine

#3884 vine: stage out pythontask input properly
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
Labels: enhancement, TaskVine

#3885 vine: submit all potential recovery tasks for one task in one go
  taskvine/src/manager/vine_manager.c
Labels: enhancement, TaskVine

#3891 vine: fix useless recovery tasks submission
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3876 Vine: add wait and as_completed for futures
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
  taskvine/test/TR_vine_python_future_module.sh
  taskvine/test/vine_python_future_module.py
Labels: enhancement, TaskVine
