Repository cooperative-computing-lab/cctools, pull requests merged in 2024-02, with the labels that each got.

#3632 Unlink when done (C and python bindings)
  doc/manuals/taskvine/index.md
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_file.c
Labels: bug, TaskVine

#3636 vine: remove_file to undeclare_file
  doc/manuals/taskvine/index.md
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/examples/vine_example_fixed_location.py
  taskvine/src/examples/vine_example_mosaic.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/test/vine_python_temp_files.py
Labels: enhancement, TaskVine

#3637 Vine: Remove File Focused on Deleting Replicas
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/manager/vine_manager.c
Labels: enhancement, cleanup, TaskVine

#3633 Vine: Rename Uses of Environment to Context and Package.
  doc/manuals/taskvine/examples/run_command_in_apptainer.sh
  doc/manuals/taskvine/examples/vine_example_apptainer_ctx.py
  doc/manuals/taskvine/index.md
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/examples/vine_example_chirp.py
  taskvine/src/examples/vine_example_mosaic.py
  taskvine/src/examples/vine_example_poncho.c
  taskvine/src/examples/vine_example_poncho_in_python.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_task.c
Labels: enhancement, TaskVine

#3638 vine: fix extra arg in remove_file
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
Labels: bug, TaskVine

#3651 do not measure disk at the manager
  dttools/src/rmonitor_poll.c
  dttools/src/rmonitor_poll.h
  resource_monitor/src/bindings/python3/ndcctools/resource_monitor.py
  resource_monitor/src/rmonitor_poll_example.c
  taskvine/src/manager/vine_fair.c
  taskvine/src/manager/vine_manager.c
  work_queue/src/work_queue.c
  work_queue/src/work_queue_coprocess.c
Labels: enhancement, Resource Monitor

#3645 Vine: Rework Empty Dir Handling
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_cached_name.c
  taskvine/src/manager/vine_file.c
  taskvine/src/manager/vine_file.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager_put.c
  taskvine/src/manager/vine_task.c
  taskvine/src/manager/vine_task.h
  taskvine/src/worker/vine_sandbox.c
  taskvine/src/worker/vine_worker.c
Labels: enhancement, TaskVine

#3659 vine: adds stat inuse_cache
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_perf_log.c
  taskvine/src/manager/vine_worker_info.h
  taskvine/src/tools/vine_graph_log
Labels: enhancement, TaskVine

#3662 vine: disable file cache check warning (temporarily)
  taskvine/src/manager/vine_manager_put.c
Labels: TaskVine

#3661 Factory: Report Owner and Version
  batch_job/src/vine_factory.c
  batch_job/src/work_queue_factory.c
  deltadb/src/catalog_export.c
  deltadb/src/catalog_server.c
Labels: enhancement, Work Queue, TaskVine

#3658 taskvine doc: add a parsl condor example
  doc/manuals/taskvine/index.md
Labels: documentation, TaskVine

#3654 Vine: Factor Out Worker-From-Factory Code
  taskvine/src/manager/Makefile
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_manager_factory.c
  taskvine/src/manager/vine_manager_factory.h
Labels: cleanup, TaskVine

#3663 vine_graph_log: Plot from dispatch
  taskvine/src/tools/vine_graph_log
Labels: TaskVine

#3653 Vine: Cleanup Worker Info and Stats
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_protocol.h
  taskvine/src/manager/vine_resources.c
  taskvine/src/manager/vine_worker_info.c
  taskvine/src/manager/vine_worker_info.h
  taskvine/src/worker/vine_worker.c
Labels: enhancement, cleanup, TaskVine

#3664 vine_plot_txn_log: vine-3620 - added vertical line to transaction log graph
  taskvine/src/tools/vine_plot_txn_log
Labels: enhancement, TaskVine

#3581 DaskVine Serverless
  taskvine/src/bindings/python3/ndcctools/taskvine/__init__.py
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/manager/vine_manager.c
Labels: enhancement, TaskVine

#3640 vine: remove files as results are checkpointed in dask_executor
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_dag.py
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/bindings/python3/ndcctools/taskvine/file.py
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/test/vine_python_futures.py
Labels: enhancement, TaskVine

#3634 vine: use a single file for wrappers, buffer for functions
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
Labels: enhancement, TaskVine

#3672 vine: ensure factory scratch dir exists
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
Labels: TaskVine

#3670 vine: future function calls
  doc/manuals/taskvine/index.md
  poncho/src/poncho/library_network_code.py
  poncho/src/poncho/package_serverize.py
  taskvine/src/bindings/python3/ndcctools/taskvine/__init__.py
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/test/TR_vine_python_future_funcall.sh
  taskvine/test/TR_vine_python_future_pythontask.sh
  taskvine/test/TR_vine_python_futures.sh
  taskvine/test/vine_python_future_funcall.py
  taskvine/test/vine_python_future_pythontask.py
  taskvine/test/vine_python_futures.py
Labels: enhancement, TaskVine

#3673 vine: use _file.source instead of .source (dask executor)
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: bug, TaskVine

#3676 vine: drop task ref as soon as possible
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: TaskVine

#3674 Vine: DaskVine Doc Example
  doc/manuals/taskvine/index.md
  taskvine/src/bindings/python3/ndcctools/taskvine/__init__.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/examples/vine_example_dask_awk_array.py
  taskvine/src/examples/vine_example_dask_graph.py
Labels: bug, TaskVine

#3671 Test: Wait After Kill
  deltadb/test/TR_catalog_server.sh
  deltadb/test/TR_catalog_server_ssl.sh
Labels: bug, build

#3684 vine: better prefer dispatch
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/manager/vine_manager.c
Labels: TaskVine
