Repository cooperative-computing-lab/cctools, pull requests merged in 2024-04, with the labels that each got.

#3755 vine: fixes to SNI handling (coffea-casa)
  batch_job/src/vine_factory.c
  batch_job/src/work_queue_factory.c
  doc/man/m4/vine_factory.m4
  doc/man/m4/vine_status.m4
  doc/man/m4/vine_worker.m4
  doc/man/md/vine_factory.md
  doc/man/md/vine_status.md
  doc/man/md/vine_worker.md
  dttools/src/link.c
  dttools/src/link.h
  taskvine/src/tools/vine_status.c
  taskvine/src/worker/vine_worker.c
  taskvine/src/worker/vine_worker_options.c
  taskvine/src/worker/vine_worker_options.h
  work_queue/src/work_queue_status.c
  work_queue/src/work_queue_worker.c
Labels: bug, enhancement, TaskVine

#3757 Peer custom ports
  dttools/src/link.c
  dttools/src/link.h
  taskvine/src/worker/vine_transfer_server.c
  taskvine/src/worker/vine_transfer_server.h
  taskvine/src/worker/vine_worker.c
  taskvine/src/worker/vine_worker_options.c
  taskvine/src/worker/vine_worker_options.h
Labels: TaskVine

#3766 vine: fixed_location flag check
  taskvine/src/manager/vine_schedule.c
Labels: bug, TaskVine

#3765 dask vine: Report to catalog on end of processing graph
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
Labels: enhancement, TaskVine

#3767 vine: Worker contact address
  doc/man/m4/vine_worker.m4
  doc/man/md/vine_worker.md
  dttools/src/address.c
  dttools/src/address.h
  taskvine/src/manager/vine_current_transfers.c
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_protocol.h
  taskvine/src/manager/vine_worker_info.c
  taskvine/src/manager/vine_worker_info.h
  taskvine/src/worker/vine_cache.c
  taskvine/src/worker/vine_worker.c
  taskvine/src/worker/vine_worker_options.c
  taskvine/src/worker/vine_worker_options.h
Labels: bug, TaskVine

#3759 vine, wq: set a maximum number of task to run per category
  dttools/src/category.c
  dttools/src/category.h
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  work_queue/src/bindings/python3/ndcctools/work_queue.py
  work_queue/src/work_queue.c
  work_queue/src/work_queue.h
Labels: enhancement, Work Queue, TaskVine

#3754 rmonitor: update summary file as excutable runs with --update-summary
  doc/man/m4/resource_monitor.m4
  doc/man/md/resource_monitor.md
  resource_monitor/src/resource_monitor.c
Labels: enhancement, Resource Monitor

#3744 Vine: Recover temp files on worker removal
  doc/manuals/taskvine/index.md
  taskvine/src/manager/vine_current_transfers.c
  taskvine/src/manager/vine_current_transfers.h
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_file_replica_table.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
Labels: enhancement, TaskVine

#3778 vine: use worker start time in usecs as rand seed
  taskvine/src/worker/vine_worker.c
  work_queue/src/work_queue_worker.c
Labels: bug, Work Queue, TaskVine

#3779 vine: lib tasks coffea casa minor fixes
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: bug, TaskVine

#3781 vine: add the extra input files to lib tasks
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: bug, TaskVine

#3786 Vine: Add counters for performance and leak detection.
  taskvine/src/manager/Makefile
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_counters.c
  taskvine/src/manager/vine_counters.h
  taskvine/src/manager/vine_file.c
  taskvine/src/manager/vine_file_replica.c
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_mount.c
  taskvine/src/manager/vine_task.c
  taskvine/src/manager/vine_worker_info.c
  taskvine/test/vine_python_task.py
Labels: enhancement, TaskVine

#3792 Worker id after random init
  dttools/src/random.c
  taskvine/src/worker/vine_worker.c
  work_queue/src/work_queue_worker.c
Labels: enhancement, Work Queue, TaskVine

#3793 vine, wq: version strings
  dttools/src/cctools.c
  dttools/src/cctools.h
  taskvine/src/bindings/python3/ndcctools/taskvine/__init__.py
  taskvine/src/bindings/python3/taskvine.i
  work_queue/src/bindings/python3/ndcctools/work_queue.py
  work_queue/src/work_queue.i
Labels: Work Queue, TaskVine
