Repository cooperative-computing-lab/cctools, pull requests merged in 2024-09, with the labels that each got.

#3932 Recommend Miniforge instead of Miniconda and remove Python 3.9 note in install documentation
  README.md
  doc/manuals/install/index.md
  doc/manuals/taskvine/index.md
  doc/manuals/work_queue/index.md
  packaging/build-conda/setup.sh
Labels: documentation

#3922 Vine: Improve how errors are propagated with `FuturesExecutor`
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
  taskvine/test/vine_python_future_funcall.py
  taskvine/test/vine_python_future_module.py
  taskvine/test/vine_python_future_pythontask.py
Labels: enhancement, TaskVine

#3938 Fix discrepancies between C and Python TaskVine examples (Solves #3937)
  doc/manuals/taskvine/index.md
  taskvine/src/examples/vine_example_blast.py
  taskvine/src/examples/vine_example_gutenberg.py
  taskvine/src/examples/vine_example_watch.py
Labels: documentation, TaskVine

#3936 [TaskVine] Remove references to stats_disconnected_workers (#3927)
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
Labels: TaskVine
