Repository cooperative-computing-lab/cctools, pull requests merged in 2024-08, with the labels that each got.

#3899 Futures stream output
  taskvine/src/bindings/python3/ndcctools/taskvine/file.py
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
Labels: enhancement, TaskVine

#3897 Vine: Remove taskvine_json and vine_api_proxy.
  taskvine/src/manager/taskvine_json.c
  taskvine/src/manager/taskvine_json.h
  taskvine/src/tools/vine_api_proxy.c
Labels: cleanup, TaskVine

#3896 Makeflow: Man page bits for SSL.
  doc/man/m4/makeflow.m4
  doc/man/md/makeflow.md
Labels: documentation, Makeflow

#3902 vine: deserialize argument infile before forking
  poncho/src/poncho/library_network_code.py
Labels: enhancement, TaskVine

#3903 vine: include functions and classes in hoisting_modules
  doc/manuals/taskvine/index.md
  poncho/src/poncho/package_serverize.py
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/examples/vine_example_function_call.py
  taskvine/test/vine_python_future_funcall.py
  taskvine/test/vine_python_serverless.py
Labels: enhancement, TaskVine

#3904 Vine: Function Slots Default to Number of Cores
  doc/manuals/taskvine/index.md
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager_put.c
  taskvine/src/manager/vine_schedule.c
  taskvine/src/manager/vine_task.c
  taskvine/src/manager/vine_task.h
  taskvine/src/worker/vine_process.c
  taskvine/src/worker/vine_worker.c
  taskvine/test/TR_vine_python_serverless.sh
  taskvine/test/vine_python_serverless.py
Labels: enhancement, TaskVine

#3908 Doc: Update MD to match M4
  doc/README.md
  doc/man/md/allpairs_master.md
  doc/man/md/sand_align_master.md
  doc/man/md/sand_filter_master.md
  doc/man/md/vine_factory.md
  doc/man/md/vine_worker.md
  doc/man/md/wavefront_master.md
  doc/man/md/work_queue_factory.md
  doc/man/md/work_queue_worker.md
Labels: enhancement, documentation

#3914 vine: do not override user resource specifications
  taskvine/src/manager/vine_manager.c
Labels: enhancement, TaskVine

#3925 Doc: Fix Build Namespace and Broken Links
  doc/README.md
  doc/manuals/jx-workflow/jx.md
  doc/manuals/taskvine/code-examples
  doc/manuals/taskvine/example-blast.md
  doc/manuals/taskvine/example-functional.md
  doc/manuals/taskvine/example-gradient-descent.md
  doc/manuals/taskvine/example-gutenberg.md
  doc/manuals/taskvine/example-mosaic.md
  doc/manuals/taskvine/example-watch.md
  doc/manuals/taskvine/index.md
  doc/manuals/work_queue/index.md
  doc/mkdocs.yml
Labels: bug, documentation
