Repository cooperative-computing-lab/cctools, pull requests merged in 2024-05, with the labels that each got.

#3805 Daskvine fix repeated keys
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_dag.py
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: bug, TaskVine

#3802 vine: manager check temps
  poncho/src/poncho/library_network_code.py
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_manager_get.c
  taskvine/src/worker/vine_sandbox.c
  taskvine/src/worker/vine_sandbox.h
  taskvine/src/worker/vine_worker.c
Labels: bug, TaskVine

#3791 vine: send library memleak
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_schedule.c
  taskvine/src/manager/vine_schedule.h
Labels: TaskVine

#3794 vine: task library to follow set/get convention.
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_task.c
  taskvine/src/worker/vine_worker.c
Labels: bug, enhancement, TaskVine

#3807 Daskvine ease taskvine
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: enhancement, TaskVine

#3803 vine: function call exit code
  poncho/src/poncho/library_network_code.py
  poncho/src/poncho/package_serverize.py
  taskvine/src/worker/vine_process.c
  taskvine/src/worker/vine_process.h
  taskvine/src/worker/vine_worker.c
Labels: bug, TaskVine

#3776 vine: limit temp replica requests per cycle
  doc/manuals/taskvine/index.md
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
Labels: enhancement, TaskVine

#3756 Vine: Load in data to cache from the shared filesystem
  doc/manuals/taskvine/index.md
  taskvine/src/manager/vine_file.c
  taskvine/src/manager/vine_file.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
Labels: enhancement, TaskVine

#3813 Condor: Chaos Monkey Small Fix
  batch_job/src/condor_chaos_monkey
Labels: enhancement

#3816 vine: do not hash functions with @monitored decorator
  resource_monitor/src/bindings/python3/ndcctools/resource_monitor.py
Labels: bug, Resource Monitor

#3815 vine: Wait no wait
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
Labels: enhancement, TaskVine

#3822 vine: do not use rampdown heuristic by default (dask executor)
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: enhancement, TaskVine

#3821 vine: fn call write input to disk if output survives task
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
Labels: TaskVine

#3824 vine: release lib tasks
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_schedule.c
  taskvine/src/manager/vine_task.c
Labels: bug, TaskVine

#3836 vine: fix doc typos, code typos, and callback signatures for `FuturesExecutor`
  doc/manuals/taskvine/index.md
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
Labels: bug, TaskVine

#3832 vine: check if the library exists when submitting FunctionCall tasks
  poncho/src/poncho/package_serverize.py
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/bindings/python3/taskvine.i
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
Labels: enhancement, TaskVine

#3849 vine: correctly account for time/stats in no_wait
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3847 Clean up swig bindings
  taskvine/src/bindings/python3/ndcctools/taskvine/__init__.py
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/bindings/python3/ndcctools/taskvine/file.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/bindings/python3/taskvine.i
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_fair.c
  taskvine/src/manager/vine_file.c
  taskvine/src/manager/vine_file.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_runtime_dir.c
  taskvine/src/manager/vine_runtime_dir.h
Labels: cleanup, TaskVine

#3837 vine: combine imports when calculating function hash
  poncho/src/poncho/package_serverize.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
Labels: enhancement, TaskVine
