Repository cooperative-computing-lab/cctools, pull requests merged in 2024-06, with the labels that each got.

#3853 vine: compute hash only when cache level requires it
  taskvine/src/manager/vine_file.c
Labels: enhancement, TaskVine

#3852 VINE: add miscellaneous plotting tools
  doc/manuals/taskvine/images/anim.gif
  doc/manuals/taskvine/images/composition.png
  doc/manuals/taskvine/index.md
  taskvine/src/tools/Makefile
  taskvine/src/tools/vine_plot_compose
  taskvine/src/tools/vine_transfer_plot_animate
Labels: enhancement, TaskVine

#3669 Vine: Buffer Asynchronous Messages From Worker for Async Task Completion
  dttools/src/link.c
  dttools/src/link.h
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/manager/taskvine_json.c
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_manager_get.c
  taskvine/src/manager/vine_manager_get.h
  taskvine/src/manager/vine_protocol.h
  taskvine/src/manager/vine_task.c
  taskvine/src/manager/vine_task.h
  taskvine/src/worker/vine_process.c
  taskvine/src/worker/vine_process.h
  taskvine/src/worker/vine_worker.c
Labels: enhancement, TaskVine

#3855 vine: handle library failures
  doc/manuals/taskvine/index.md
  poncho/src/poncho/library_network_code.py
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
  taskvine/src/bindings/python3/taskvine.i
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_runtime_dir.c
  taskvine/src/manager/vine_task.c
  taskvine/src/manager/vine_task.h
  taskvine/src/worker/vine_process.c
  taskvine/src/worker/vine_worker.c
Labels: enhancement, TaskVine

#3860 Doc: Fix Vine/WQ Compile Instructions
  doc/manuals/taskvine/index.md
  doc/manuals/work_queue/index.md
Labels: documentation

#3861 Factory: Check protocol version before submitting workers.
  batch_job/src/vine_factory.c
  batch_job/src/work_queue_factory.c
  taskvine/src/manager/vine_manager.c
  work_queue/src/work_queue.c
Labels: enhancement, Work Queue, TaskVine

#3857 Vine: Keep Scheduler Stateless for Libraries/Functions
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_schedule.c
  taskvine/src/manager/vine_schedule.h
Labels: enhancement, TaskVine

#3863 vine: consistently use int64 in copy_file_to_file
  batch_job/src/batch_job.c
  batch_job/src/batch_job.h
  batch_job/src/batch_job_chirp.c
  batch_job/src/batch_job_dryrun.c
  batch_job/src/batch_job_internal.h
  batch_job/src/vine_factory.c
  batch_job/src/work_queue_factory.c
  dttools/src/copy_stream.c
  makeflow/src/makeflow_module_archive.c
Labels: bug, Poncho

#3867 vine: assign size to t->size in stage_output_file
  taskvine/src/worker/vine_sandbox.c
Labels: bug, TaskVine

#3870 Doc: Add Auth Modes to Man Pages
  doc/man/m4/chirp.m4
  doc/man/m4/chirp_distribute.m4
  doc/man/m4/chirp_fuse.m4
  doc/man/m4/chirp_get.m4
  doc/man/m4/chirp_put.m4
  doc/man/m4/chirp_server.m4
  doc/man/m4/chirp_stream_files.m4
  dttools/src/auth_all.h
Labels: documentation, Chirp

#3869 Chirp: Use openssl pkeyutl instead of rsautl
  configure
  dttools/src/auth_ticket.c
Labels: bug, Chirp

#3871 Port: Patches to Build on FreeBSD
  .clang-format
  batch_job/src/batch_job_local.c
  chirp/src/chirp_fs_confuga.c
  chirp/src/chirp_fs_local.c
  chirp/src/chirp_fs_local_scheduler.c
  chirp/src/chirp_fuse.c
  chirp/src/chirp_recursive.c
  chirp/src/chirp_swig_wrap.c
  chirp/src/confuga.c
  chirp/src/confuga_namespace.c
  chirp/src/confuga_replica.c
  chirp/src/json.h
  configure
  dttools/src/address.c
  dttools/src/auth_test.c
  dttools/src/auth_unix.c
  dttools/src/compat-at.c
  dttools/src/datagram.c
  dttools/src/file_cache.c
  dttools/src/full_io.c
  dttools/src/host_memory_info.c
  dttools/src/link.c
  dttools/src/load_average.c
  dttools/src/md5.c
  dttools/src/rmonitor_poll.c
  dttools/src/rmonitor_poll_internal.h
  dttools/src/rmonitor_types.h
  dttools/src/uptime.c
  grow/src/grow.c
  taskvine/src/manager/vine_checksum.c
  taskvine/src/tools/vine_status.c
  taskvine/src/worker/vine_workspace.c
Labels: bug, build

#3874 Makeflow: Add SSL Key/Cert for WQ/Vine
  batch_job/src/batch_job.c
  batch_job/src/batch_job.h
  batch_job/src/batch_job_condor.c
  batch_job/src/batch_job_vine.c
  batch_job/src/batch_job_work_queue.c
  batch_job/src/vine_factory.c
  batch_job/src/work_queue_factory.c
  doc/man/m4/makeflow.m4
  doc/manuals/makeflow/index.md
  makeflow/src/makeflow.c
Labels: enhancement, Makeflow, Batch Job

#3875 Batch Job: Use vine_set_framework to indicate when makeflow is using taskvine.
  batch_job/src/batch_job_vine.c
Labels: enhancement, Makeflow
