Repository cooperative-computing-lab/cctools, pull requests merged in 2024-03, with the labels that each got.

#3685 vine: plot tx cleanup
  taskvine/src/tools/vine_plot_txn_log
Labels: TaskVine

#3687 vine: compare cache level TASK instead of WORKFLOW
  taskvine/src/manager/vine_manager.c
Labels: TaskVine

#3689 vine: use port range in futures test
  taskvine/test/vine_python_future_funcall.py
  taskvine/test/vine_python_future_pythontask.py
Labels: TaskVine

#3688 vine: Hash random start
  dttools/src/Makefile
  dttools/src/hash_table.c
  dttools/src/hash_table.h
  dttools/src/hash_table_offset_test.c
  dttools/test/TR_hash_table_offset.sh
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_schedule.c
Labels: TaskVine

#3690 vine: consider cached output buffers as replicas at workers
  taskvine/src/manager/vine_file.c
  taskvine/src/manager/vine_manager_get.c
Labels: bug, TaskVine

#3695 Vine: Fix Up Handling of cache-invalid
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3697 Library minor fixes
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
Labels: enhancement, TaskVine

#3701 Makeflow: Fix handling of dashes in filenames.
  makeflow/src/lexer.c
  makeflow/test/TR_makeflow_020_syntax_dashes.sh
  makeflow/test/syntax/dashes.makeflow
Labels: bug, Makeflow

#3702 vine: worker<->file association
  dttools/src/set.c
  dttools/src/set.h
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_file_replica_table.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_manager_get.c
  taskvine/src/manager/vine_manager_put.c
Labels: enhancement, TaskVine

#3703 vine: chech start time in seconds
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3704 vine: fix peer_addr double free
  taskvine/src/manager/vine_file_replica_table.c
Labels: bug, TaskVine

#3705 vine: delete workflow files on worker disconnection
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3707 vine: fix recovery tasks multiple creation
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_file_replica_table.h
  taskvine/src/manager/vine_manager.c
Labels: TaskVine

#3712 parrot: fix new compiler strict warnings
  parrot/src/pfs_sys.cc
Labels: Parrot

#3708 vine: update replica sets when worker is removed
  taskvine/src/manager/vine_manager.c
Labels: TaskVine

#3713 configure: turn on max debug symbols with --debug
  configure
  parrot/src/pfs_service_cvmfs.cc
Labels: enhancement, infrastructure

#3719 vine: record replicas in transit
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_file_replica_table.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager_put.c
Labels: TaskVine

#3730 vine: move retry logic into a proper place
  doc/manuals/taskvine/index.md
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
Labels: enhancement, TaskVine

#3729 vine: adds a transient result failure to tasks
  doc/manuals/taskvine/index.md
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_task.c
  taskvine/src/manager/vine_task.h
  taskvine/src/worker/vine_worker.c
  taskvine/test/vine_python.py
Labels: enhancement, TaskVine

#3732 vine: adds --spool to vine_submit_workers -T condor
  taskvine/src/tools/vine_submit_workers
Labels: enhancement, TaskVine

#3720 S3: Fix use of HMAC_CTX
  dttools/src/s3_file_io.c
Labels: bug, infrastructure

#3736 vine: use environment for library tasks in dask_executor
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: bug, TaskVine

#3733 Vine: Support more thread limits.
  taskvine/src/worker/vine_process.c
Labels: enhancement, TaskVine

#3743 Vine: Fix Library Failure Segfault
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_schedule.c
Labels: bug, TaskVine

#3740 copy manager addrs with DOMAIN_NAME_MAX limit
  dttools/src/interfaces_address.c
  taskvine/src/worker/vine_worker.c
  work_queue/src/work_queue_worker.c
Labels: bug, infrastructure

#3742 Vine: Forsake functions when library exits.
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager_get.c
  taskvine/src/worker/vine_cache.c
  taskvine/src/worker/vine_cache.h
  taskvine/src/worker/vine_cache_file.c
  taskvine/src/worker/vine_sandbox.c
  taskvine/src/worker/vine_worker.c
Labels: bug, TaskVine

#3735 vine: cleanup vine_submit_workers
  taskvine/src/tools/vine_submit_workers
Labels: bug, enhancement, TaskVine

#3748 vine: set transfer failure on cache invalid
  taskvine/src/manager/vine_current_transfers.c
  taskvine/src/manager/vine_current_transfers.h
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#3749 vine: remove transfer pairs with sources
  taskvine/src/manager/vine_current_transfers.c
  taskvine/test/vine_python.py
Labels: bug, TaskVine

#3747 transfer missing to forsaken
  taskvine/src/bindings/python3/ndcctools/taskvine/task.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_schedule.c
  taskvine/src/manager/vine_task.c
  taskvine/src/manager/vine_task.h
  taskvine/src/manager/vine_worker_info.c
  taskvine/src/manager/vine_worker_info.h
  taskvine/src/worker/vine_worker.c
  taskvine/test/vine_python.py
Labels: bug, TaskVine
