Repository cooperative-computing-lab/cctools, pull requests merged in 2025-01, with the labels that each got.

#3978 Create batch_queue_flux as experimental module
  batch_job/src/Makefile
  batch_job/src/batch_queue.c
  batch_job/src/batch_queue.h
  batch_job/src/batch_queue_flux.c
  doc/manuals/makeflow/index.md
Labels: Makeflow, Batch Job

#4019 Vine: Refactor Task Kill
  taskvine/src/manager/vine_manager.c
Labels: bug, TaskVine

#4020 Build: Test Taskvine First
  configure
Labels: build, cleanup

#4013 vine: check worker transfer capacity earlier
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_schedule.c
Labels: enhancement, TaskVine

#4022 Vine: Function Calls Should Fail on Missing Library
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_file_replica.c
  taskvine/src/manager/vine_manager.c
  taskvine/src/worker/vine_process.c
  taskvine/src/worker/vine_worker.c
  taskvine/test/TR_vine_python_serverless_failure.sh
  taskvine/test/vine_python_serverless_failure.py
Labels: bug, enhancement, TaskVine

#4015 update dask vine executor to new dask graphs
  taskvine/src/bindings/python3/ndcctools/taskvine/__init__.py
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_dag.py
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
  taskvine/src/examples/vine_example_dask_graph.py
  taskvine/test/TR_vine_python_unlink_when_done.sh
Labels: TaskVine

#4026 fix bug where FuturePythonTask not added to table
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
Labels: bug, TaskVine

#4034 Vine: Set File Mode
  taskvine/src/bindings/python3/ndcctools/taskvine/file.py
  taskvine/src/manager/taskvine.h
  taskvine/src/manager/vine_file.c
  taskvine/src/manager/vine_file.h
  taskvine/src/manager/vine_manager_put.c
  taskvine/test/vine_python.py
Labels: enhancement, TaskVine

#4011 Implementation of taskvine allpairs/map/reduce
  taskvine/src/bindings/python3/ndcctools/taskvine/futures.py
  taskvine/test/TR_vine_python_future_hof.sh
  taskvine/test/vine_python_future_hof.py
Labels: enhancement, TaskVine
