Repository cooperative-computing-lab/cctools, pull requests merged in 2025-04, with the labels that each got.

#4099 vine: dangling pointer, crashes worker
  dttools/src/copy_stream.c
  taskvine/src/worker/vine_cache.c
Labels: bug, critical

#4137 vine: change `workers_with_complete_tasks` from table to list.
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_manager.h
  taskvine/src/manager/vine_worker_info.c
  taskvine/src/manager/vine_worker_info.h
Labels: enhancement, TaskVine

#4143 vine: maintain transfer count directly
  taskvine/src/manager/vine_current_transfers.c
  taskvine/src/manager/vine_current_transfers.h
  taskvine/src/manager/vine_file_replica_table.c
  taskvine/src/manager/vine_manager.c
  taskvine/src/manager/vine_worker_info.c
  taskvine/src/manager/vine_worker_info.h
Labels: enhancement, TaskVine

#4150 daskvine: fix how Alias is handled.
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_dag.py
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: bug, TaskVine

#4140 vine: reference library_task in function tasks
  taskvine/src/manager/vine_manager.c
Labels: bug, critical, TaskVine
