Repository cooperative-computing-lab/cctools, pull requests merged in 2025-02, with the labels that each got.

#4052 Debug: Remove Excess System Calls
  dttools/src/debug.c
  dttools/src/debug.h
  parrot/src/pfs_main.cc
Labels: enhancement, TaskVine

#4053 Vine: Latent Bug in Async Message Send
  taskvine/src/worker/vine_worker.c
Labels: bug, TaskVine

#4042 dttools: priority queue data structure fix
  dttools/src/priority_queue.c
  dttools/src/priority_queue.h
  dttools/src/priority_queue_test.c
Labels: enhancement, TaskVine, little bug

#4064 vine: resolve shutdown_workers to workers_shutdown
  taskvine/src/bindings/python3/ndcctools/taskvine/manager.py
Labels: TaskVine

#4065 Vine: Fix Crash After Idle Disconnect
  taskvine/src/manager/vine_manager.c
Labels: bug, critical, TaskVine

#4069 vine: make immediate recovery to recover immediately
  taskvine/src/manager/vine_manager.c
Labels: TaskVine
