Repository cooperative-computing-lab/cctools, pull requests merged in 2025-07, with the labels that each got.

#4189 Link: Fix failed listen after bind
  dttools/src/link.c
Labels: bug

#4145 DaskVine Dag Reconstruction + Prune Porting
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_dag.py
  taskvine/src/bindings/python3/ndcctools/taskvine/dask_executor.py
Labels: enhancement, TaskVine

#4219 Catalog: Abort faster on SIGALRM
  deltadb/src/catalog_server.c
Labels: bug, critical, Catalog
