Repository cooperative-computing-lab/cctools, pull requests merged in 2025-06, with the labels that each got.

#4176 vine: worker unlinks file if invalid cache
  taskvine/src/worker/vine_cache.c
Labels: bug, TaskVine

#4177 vine: do not try to read monitor info on missing input
  taskvine/src/manager/vine_manager.c
Labels: enhancement, TaskVine

#4184 Catalog: Fix Streaming Queries
  deltadb/src/catalog_server.c
  deltadb/src/deltadb_query_main.c
Labels: bug, Catalog

#4167 vine: fix double counting of replica size in vine_file_replica_table_insert
  taskvine/src/manager/vine_file_replica_table.c
Labels: little bug

#4174 Vine: Added an obspy example
  doc/manuals/taskvine/example-obspy.md
  doc/manuals/taskvine/index.md
  taskvine/src/examples/vine_example_obspy.py
  taskvine/src/examples/vine_example_poncho_in_python.py
Labels: TaskVine, Example
